<md-toolbar  ng-show="showfilter" class="md-primary md-hue-2" layout="row" layout-xs="column" style="height:70px">

    <div layout-padding>
      <label>Type</label>
      <md-select ng-model="search.type" style="padding:0;margin:0;" aria-label="type">
        <md-option ng-repeat="type in types" value="{{type}}">
          {{type}}
        </md-option>
      </md-select>
    </div>

    <div flex layout-padding>
      <label>Max Price: {{search.price}}$/sqft (out of {{maxPrice}})</label>
      <md-slider-container>
        <md-slider ng-model="search.price" min="0" max="{{maxPrice}}" step="0.1" aria-label="max price">
        </md-slider>
      </md-slider-container>
    </div>

    <div flex layout-padding>
      <label>Min Area: {{search.sqft}} sqft (out of {{maxSqft}})</label>
      <md-slider-container>
        <md-slider ng-model="search.sqft" min="0" max="{{maxSqft}}" step="10" aria-label="max square feet">
        </md-slider>
      </md-slider-container>
    </div>

</md-toolbar>
