<div flex ng-show="showfilter" layout="row" layout-xs="column" style="background: #F3E5F5;">

    <div flex-gt-xs layout-padding>
      <label>Type</label>
      <md-select ng-model="search.type" style="padding:0;margin:0;" aria-label="type">
        <md-option ng-repeat="type in types" value="{{type}}">
          {{type}}
        </md-option>
      </md-select>
    </div>

    <div flex-gt-xs layout-padding>
      <label>Max Price: {{search.price}}$/sqft (out of {{maxPrice}})</label>
      <md-slider-container>
        <md-slider class="md-primary" ng-model="search.price" min="0" max="{{maxPrice}}" step="0.1" aria-label="max price">
        </md-slider>
      </md-slider-container>
    </div>

    <div flex-gt-xs layout-padding>
      <label>Min Area: {{search.sqft}} sqft (out of {{maxSqft}})</label>
      <md-slider-container>
        <md-slider class="md-primary" ng-model="search.sqft" min="0" max="{{maxSqft}}" step="10" aria-label="max square feet">
        </md-slider>
      </md-slider-container>
    </div>

</div>
