<div layout="column">
  <div layout="row" layout-padding ng-if="owners.length>1">
    <span flex></span>
    <label style="font-weight: bolder;">Owner</label>
    <span flex></span>
    <md-select  flex="60" ng-model="search.owner" style="padding:0;margin:0;" aria-label="type">
      <md-option ng-repeat="owner in owners" value="{{owner}}">
        {{owner}}
      </md-option>
    </md-select>
  </div>
  <div layout="row" layout-padding>
    <span flex></span>
    <label style="font-weight: bolder;">Type</label>
    <span flex></span>
    <md-select  flex="60" ng-model="search.type" style="padding:0;margin:0;" aria-label="type">
      <md-option ng-repeat="type in types" value="{{type}}">
        {{type}}
      </md-option>
    </md-select>
  </div>

    <!-- <div flex-gt-xs layout-padding>
      <label>Max Price: {{search.max_price}}$/sqft (out of {{maxPrice}})</label>
      <md-slider-container>
        <md-slider class="md-primary" ng-model="search.price" min="0" max="{{maxPrice}}" step="0.1" aria-label="max price">
        </md-slider>
      </md-slider-container>
    </div>

    <div flex-gt-xs layout-padding>
      <label>Min Area: {{search.min_sqft}} sqft (out of {{maxSqft}})</label>
      <md-slider-container>
        <md-slider class="md-primary" ng-model="search.sqft" min="0" max="{{maxSqft}}" step="10" aria-label="max square feet">
        </md-slider>
      </md-slider-container>
    </div> -->

</div>
