<md-list flex>
  <md-list-item class="md-3-line md-offset" ng-repeat="msg in main.messages" ng-click="main.selectMsg(msg)" ng-class="{active: main.selected._id === msg._id}">
      <div flex="80" layout="row">

        <div class="md-list-item-text">
          <h3 class="md-title">from: {{msg.from_givenName}} {{msg.from_surname}}</h3>
          <h4 class="md-subtitle" style="overflow:hidden;">Buy/Lease Req: {{msg.buyreqTitle}}</h4>
          <p style="overflow:hidden;">Message: {{msg.message}}</p>
        </div>


        <div layout="column">
          <md-icon class="md-secondary" >
            <i class="material-icons" style="font-size:32px;">chevron_right</i>
          </md-icon>
        </div>

      </div>
    <md-divider></md-divider>
  </md-list-item>
</md-list>
