
<md-list>
  <md-list-item class="md-3-line md-offset" ng-repeat="msg in messages" ng-click="toggleMsg(msg)" ng-if="!selected || selected._id === msg._id">
      <div flex="80" layout="row">

        <div class="md-list-item-text">
          <h3 class="md-title">from: {{msg.from_givenName}} {{msg.from_surname}}</h3>
          <h4 class="md-subtitle" style="overflow:hidden;">Buy Req: {{msg.buyreq}}</h4>
          <p style="overflow:hidden;">Message: {{msg.message}}</p>
        </div>


        <div layout="column">
          <md-icon class="md-secondary" >
            <i class="material-icons" style="font-size:32px;">chevron_right</i>
          </md-icon>
        </div>

      </div>
    <md-divider></md-divider>
  </md-list-item>
</md-list>

<md-content layout="column" md-whiteframe-3dp ng-if="selected" layout-padding layout-margin>

    <h3 class="md-title">Sender</h3>
    <h4 class="md-subhead"> Name: {{selected.from_givenName}} {{selected.from_surname}}</h4>
    <h4 class="md-subhead"> Email: {{selected.from_email}}</h4>
    <md-divider></md-divider>
    <h3 class="md-subtitle">Buy Req:</h3>
    <p class="md-body-1">{{selected.buyreq}}</p>
    <md-divider></md-divider>
    <h4 class="md-subtitle">Message:</h4>
    <p> {{selected.message}}</p>

</md-content>
