
  <req-filter></req-filter>

  <div flex layout="row">
    <md-content ng-show="openedSidenav" flex-gt-sm="40" class="md-sidenav-left">
      <req-list style="overflow:scroll;"></req-list>
    </md-content>


    <!-- side toolbar -->
    <md-content layout="column"  >

      <md-button aria-label="filter" class="md-fab md-mini md-primary" ng-click="openfilter()">
        <md-tooltip md-direction="bottom">Filter</md-tooltip>
        <md-icon>filter_list</md-icon>
      </md-button>
<br>
      <md-button class="md-fab md-mini md-primary" ng-click="openSidenav()">
        <md-tooltip md-direction="bottom">List</md-tooltip>
        <i class="material-icons"  style="vertical-align:middle;">comment</i>
      </md-button>

    </md-content>


    <req-map flex></req-map>

  </div>
