

/*color chips*/
.md-chips md-chip {
  background-color: rgb(63,81,181);
  color: white;
}

.after-tabs-area > span {
  color:red;
  margin-top: 25px;
  padding-right: 15px;
  vertical-align: middle;
  line-height: 30px;
  height: 35px; }