

<md-toolbar layout="row" ng-if="addmode" class="md-primary md-hue-2">
  <md-button flex="30" class="md-raised md-primary md-hue-1 md-ink-ripple" ng-click="addReq()">
    Publish
  </md-button>
  <md-button flex="30" class="md-ink-ripple" ng-click="cancel()">
    Cancel
  </md-button>
</md-toolbar>

<md-toolbar layout="row" ng-if="!addmode" class="md-primary md-hue-2">
  <md-button flex="30" class="md-raised md-primary md-hue-2 md-ink-ripple" ng-click="saveEdit()" >
    Save
  </md-button>
  <md-button flex="30" class="md-ink-ripple" ng-click="cancel()">
    Cancel
  </md-button>
  <md-button flex="30" class="md-warn md-ink-ripple" ng-click="deleteReq()">
    Delete
  </md-button>
</md-toolbar>


<div flex layout="column" layout-padding layout-margin>

  <h4> {{req.polygons.length}} areas selected</h4>

  <md-input-container>
    <label>Type</label>
    <md-select ng-model="req.type">
      <md-option ng-repeat="type in types" value="{{type}}">
        {{type}}
      </md-option>
    </md-select>
  </md-input-container>

  <span flex></span>

  <md-input-container layout-padding>
    <label>Title</label>
    <input type="text" md-maxlength="36" ng-model="req.title" required>
  </md-input-container>

  <md-input-container>
    <label>Description</label>
    <textarea ng-model="req.info" md-maxlength="500" required></textarea>
  </md-input-container>

  <div layout="row">
    <div flex="70" style="padding-top: 25%;">Square Feet</div>
    <div layout="column">
      <md-input-container>
        <label>Min sqft</label>
        <input type="number" ng-model="req.min_sqft" required>
      </md-input-container>
      <md-input-container>
        <label>Max sqft</label>
        <input type="number" ng-model="req.max_sqft" required>
      </md-input-container>
    </div>
  </div>

  <div layout="row">
    <div flex="70" style="padding-top: 25%;">Price</div>
    <div layout="column">
      <md-input-container>
        <label>Min Price</label>
        <input type="number" ng-model="req.min_price" required>
      </md-input-container>
      <md-input-container>
        <label>Max Price</label>
        <input type="number" ng-model="req.max_price" required>
      </md-input-container>
    </div>
  </div>

  <md-input-container flex layout="column">
    <div flex>
      <md-checkbox class="md-primary" ng-model="req.landOnly" aria-label="land only">
        Land Only
      </md-checkbox>
    </div>
    <div flex>
      <md-checkbox class="md-primary" ng-model="req.landWithProperty" aria-label="land with property">
        Land and Property
      </md-checkbox>
    </div>
  </md-input-container>

  <md-input-container layout="column" >
    <div flex>
      <md-checkbox class="md-primary" ng-model="req.buy" aria-label="buy">
        Buy
      </md-checkbox>
    </div>
    <div flex>
      <md-checkbox class="md-primary" ng-model="req.exchange" aria-label="exchange">
        Exchange
      </md-checkbox>
    </div>
    <div flex>
      <md-checkbox class="md-primary" ng-model="req.lease" aria-label="lease">
        Lease
      </md-checkbox>
    </div>
  </md-input-container>

</div>
