
<div layout="row">
  <md-button flex="30" class="md-raised md-warn md-hue-1 md-ink-ripple" ng-click="addReq()">
    Publish
  </md-button>
  <md-button flex="30" class="md-ink-ripple" ng-click="cleanReq()">
    Cancel
  </md-button>
</div>


<div flex layout="column" layout-padding layout-margin>

  <h4> {{req.polygons.length}} areas selected</h4>

  <md-input-container>
    <label>Type</label>
    <md-select ng-model="req.type">
      <md-option ng-repeat="type in types" value="{{type}}">
        {{type}}
      </md-option>
    </md-select>
  </md-input-container>

  <span flex></span>

  <md-input-container layout-padding>
    <label>Title</label>
    <input type="text" md-maxlength="36" ng-model="req.title" required>
  </md-input-container>

  <md-input-container>
    <label>Description</label>
    <textarea ng-model="req.info" md-maxlength="500" required></textarea>
  </md-input-container>

  <div layout="row">
    <md-input-container>
      <label>Square Feet</label>
      <input type="number" ng-model="req.sqft" required>
    </md-input-container>
    <md-input-container>
      <label>Max Price</label>
      <input type="number" ng-model="req.price" required>
    </md-input-container>
  </div>

  <md-input-container flex layout="column">
    <div flex>
      <md-checkbox class="md-primary" ng-model="req.landOnly" aria-label="land only">
        Land Only
      </md-checkbox>
    </div>
    <div flex>
      <md-checkbox class="md-primary" ng-model="req.landWithProperty" aria-label="land with property">
        Land and Property
      </md-checkbox>
    </div>
  </md-input-container>

  <md-input-container layout="column" >
    <div flex>
      <md-checkbox class="md-primary" ng-model="req.buy" aria-label="buy">
        Buy
      </md-checkbox>
    </div>
    <div flex>
      <md-checkbox class="md-primary" ng-model="req.exchange" aria-label="lease">
        Exchange
      </md-checkbox>
    </div>
  </md-input-container>

</div>
