<md-button class="md-fab md-mini md-fab-top-right" ng-click="cancel()" style="top:-5px;right:-5px;">
  <md-icon>close<md-icon>
</md-button>
<md-card flex md-whiteframe="6d">
  <md-card-header>
    <md-card-header-text>
      <span flex="90" class="md-display-1" style="color: #009688;">{{broker.fullName}}</span>
      <span class="md-subhead">RE License #: {{broker.customData.license}} </span>
      <span ng-if="broker.customData.function" >{{broker.customData.function}}</span>
      <span ng-if="broker.customData.company" class="md-subtitle">{{broker.customData.company}}</span>
    </md-card-header-text>
  </md-card-header>

  <md-divider></md-divider>

  <md-card-title>
    <md-card-title-text>
      <span class="md-body-1" ng-if="broker.customData.phone && broker.customData.phone!=='hidden'">
        tel: {{broker.customData.phone}}
      </span>
      <a class="md-subhead" ng-if="broker.customData.loopnet" target="_blank" href="http://www.loopnet.com/profile/{{broker.customData.loopnet}}">Loopnet Profile</a>
      <a class="md-subhead" ng-if="broker.customData.linkedin" target="_blank" href="http://www.linkedin.com/{{broker.customData.linkedin}}">Linkedin Profile</a>
    </md-card-title-text>
    <md-card-title-media>
        <img class="md-media-md" id="brokerpic" ng-src="{{broker.brokerpic}}" onerror="angular.element(this).scope().getDefaultPic(this)" class="md-media-sm card-media"></img>
    </md-card-title-media>
  </md-card-title>
  <md-card-actions layout="row" layout-align="start start">
    <mailbutton broker="broker" buyreq="main.selectedReq"></mailbutton>
  </md-card-actions>

  <md-card-content ng-if="broker.customData.summary" layout-align="start start" >
    <h4 class="md-subtitle">Summary</h4>
    <div  style="max-height:20vh;overflow:scroll;">
      <p class="md-body-1" style="overflow:scroll;">{{broker.customData.summary}}</p>
    </div>
  </md-card-content>

</md-card>
