

<div flex layout = "column" md-whiteframe="6d">
    <mailbutton broker="main.selectedReq.broker" buyreq="main.selectedReq"></mailbutton>
    <div layout = "column">
      <span class="md-display-1" style="color: #009688;">{{main.selectedReq.broker.fullName}}</span>
      <span class="md-subhead">RE License #: {{main.selectedReq.broker.customData.license}} </span>
      <span ng-if="main.selectedReq.broker.customData.function" >{{main.selectedReq.broker.customData.function}}</span>
      <span ng-if="main.selectedReq.broker.customData.company" class="md-subtitle">{{main.selectedReq.broker.customData.company}}</span>
    </div>

  <br>
  <md-divider></md-divider>

  <div layout="column">
      <span class="md-body-1" ng-if="main.selectedReq.broker.customData.phone && main.selectedReq.broker.customData.phone!=='hidden'">
        tel: {{main.selectedReq.broker.customData.phone}}
      </span>
      <a class="md-subhead" ng-if="main.selectedReq.broker.customData.loopnet" target="_blank" href="http://www.loopnet.com/profile/{{main.selectedReq.broker.customData.loopnet}}">Loopnet Profile</a>
      <a class="md-subhead" ng-if="main.selectedReq.broker.customData.linkedin" target="_blank" href="http://www.linkedin.com/{{main.selectedReq.broker.customData.linkedin}}">Linkedin Profile</a>
  </div>

  <div>
    <img id="brokerpic" ng-src="{{main.selectedReq.broker.brokerpic}}" onerror="angular.element(this).scope().getDefaultPic(this)" class="md-media-sm"></img>
  </div>

  <div ng-if="main.selectedReq.broker.customData.summary" layout-align="start start" >
    <h4 class="md-subtitle">Summary</h4>
    <p class="md-body-1">{{main.selectedReq.broker.customData.summary}}</p>
  </div>

</div>
