<div>
  <h3>Headline</h3>
  <p>{{req.title}}</p>
</div>
<div>
  <h3>Description</h3>
  <p>{{ req.info}}</p>
</div>
<div>
  <h3>Details</h3>
  <p>Type: {{req.type}} </p>
  <p>Area:  {{ req.min_sqft | number:0 }}sqft - {{ req.max_sqft | number:0 }}sqft</p>
  <p ng-if="req.buy">Buy Price: {{ req.buy_min_price | currency:"$" : 0}} - {{ req.buy_max_price | currency:"$" : 0}}</p>
  <p ng-if="req.exchange">Exchange Price {{ req.exchange_min_price | currency:"$" : 0}} - {{ req.exchange_max_price | currency:"$" : 0}}</p>
  <p ng-if="req.lease">Lease Price {{ req.lease_min_price | currency:"$" : 2}} - {{ req.lease_max_price | currency:"$" : 2}} /sqft</p>
  <p ng-if="req.landOnly">Land Only {{ req.landOnly | checkmark }}</p>
  <p ng-if="req.landWithProperty">Land and Property {{ req.landWithProperty | checkmark }}</p>
</div>
