<md-content flex layout="row" layout-margin class="md-whiteframe-2dp">
  <md-tabs flex class="md-primary md-hue-2">
    <md-tab label="Summary">
      <div layout="row" >
        <md-button id="sharebutton" flex class="md-button md-primary md-raised" data-clipboard-text="{{main.selectedReq.shareLink}}">
          <md-icon>share</md-icon>
          share
        </md-button>
      </div>
      <div layout="row">
        <md-button flex ng-if="'myreqs.detail' | isState" class="md-primary md-raised"  ui-sref="req.edit({id: main.selectedReq._id})">edit</md-button>
        <md-button flex if-user-in-group="admins" ng-if="!('myreqs.detail' | isState)" class="md-primary md-raised"  ui-sref="req.edit({id: main.selectedReq._id})">admin edit</md-button>
      </div>
      <req-details req=main.selectedReq></req-details>
    </md-tab>
    <md-tab label="Map" ng-if="$mdMedia('xs')">
      <md-tab-content flex layout="row">
        <map-controls></map-controls>
        <req-map flex md-whiteframe="8d"></req-map>
    </md-tab-content>
    </md-tab>
  </md-tabs>

  <md-button  ui-sref="^.list" class="md-fab md-accent md-fab-top-right">
      <md-icon>close</md-icon>
  </md-button>

</md-content>
