
<md-list ng-hide="search.reqID">
  <md-list-item class="md-3-line md-offset" ng-repeat="buyreq in filteredReqs" ng-click="toggle(buyreq)">
      <div flex layout="row">

        <div class="md-list-item-text">
          <h3 class="md-title" style="color:#3F51B5">{{buyreq.type}}</h3>
          <h3 class="md-subhead" style="overflow-wrap:break-word;max-width:250px;">{{buyreq.title}}</h3>
          <p>Price: {{ buyreq.min_price }}$ - {{ buyreq.max_price }}$ </p>
          <p>Area: {{ buyreq.min_sqft }} sqft - {{ buyreq.max_sqft }} sqft</p>
        </div>

        <span flex></span>

        <div layout="column">
          <md-icon class="md-secondary" >
            <i class="material-icons" style="font-size:32px;">chevron_right</i>
          </md-icon>
        </div>

      </div>
    <md-divider></md-divider>
  </md-list-item>
</md-list>
