<md-toolbar class="md-primary md-hue-2" layout="row" md-scroll-shrink>
  <div class="md-toolbar-tools">
    <md-button aria-label="filter" class="md-fab md-accent  md-mini md-ink-ripple sellerTour4" ng-click="openfilter()">
      <md-tooltip md-direction="right">Filter</md-tooltip>
      <md-icon>filter_list</md-icon>
    </md-button>
    <span flex></span>
    <span> {{filteredReqs.length}} reqs filtered from {{main.buyreqs.length}} </span>
  </div>
</md-toolbar>

<req-filter ng-show="showfilter"></req-filter>

<md-content flex layout="column" class="sellerTour1 brokerTour1 brokerTour2">
  <md-list ng-hide="search.reqID">
    <md-list-item
      class="md-3-line md-offset md-warn"
      ng-repeat="buyreq in filteredReqs"
      ui-sref="^.detail({id: buyreq._id})"
      ng-mouseenter="highlightReq(buyreq)"
      ng-mouseleave="unhighlightReq(buyreq)"
      ng-style="{'background-color': buyreq.hover ? 'rgba(224, 64, 251, 0.27)' : null}">
      <div flex layout="row" class="sellerTour2">

        <div class="md-list-item-text">
          <h3 class="md-title" style="color:#3F51B5">{{buyreq.transactionTitle}} - {{buyreq.type}}</h3>
          <h3 class="md-subhead" style="overflow-wrap:break-word;max-width:800px;">{{buyreq.title}}</h3>
          <p ng-if="buyreq.buy">Buy Price: {{ buyreq.buy_min_price | currency:"$" : 0 }} - {{ buyreq.buy_max_price | currency:"$" : 0 }} </p>
          <p ng-if="buyreq.exchange">Exchange Price: {{ buyreq.exchange_min_price | currency:"$" : 0 }} - {{ buyreq.exchange_max_price | currency:"$" : 0 }} </p>
          <p ng-if="buyreq.lease">Lease Price: {{ buyreq.lease_min_price | currency:"$/sqft " : 2 }} - {{ buyreq.lease_max_price | currency:"$/sqft " : 2 }} </p>
          <p>Area: {{ buyreq.min_sqft | number:0 }}sqft - {{ buyreq.max_sqft | number:0 }}sqft</p>
        </div>

        <!-- <span flex></span> -->

        <div layout="column">
          <md-icon class="md-secondary" >
            <i class="material-icons" style="font-size:32px;">chevron_right</i>
          </md-icon>
        </div>

      </div>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
<md-content>
