<div layout="column" flex>

  <div>
    <md-toolbar class="md-primary md-hue-2" layout="row">
      <div class="md-toolbar-tools">
        <span style="font-size:smaller"> {{main.filteredReqs.length}} reqs filtered from {{main.buyReqs.length}} </span>
        <md-button hide-gt-xs ng-click="toggleFilterSidenav()" class="md-primary md-raised tour-map-mob" style="z-index: 1000;margin:10px;">
          <md-icon>
            filter_list
          </md-icon>
        </md-button>
        <md-button hide-gt-xs ng-click="toggleMap()" class="md-primary md-raised tour-map-mob" style="z-index: 1000;margin:10px;">
          <md-icon ng-if="!showMap">
            public
          </md-icon>
          <md-icon ng-if="showMap">
            list
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>
  </div>


  <md-content flex layout-fill class="flip-container" ng-class="{'flipped': showMap}" layout="row">

    <!-- sidenav for the filters -->
    <md-sidenav md-component-id="filterSidenav" class="md-sidenav-left" style="background-color: rgb(26, 31, 30);">
      <md-toolbar layout="row" style="background-color: rgb(26, 31, 30);">
        <h1 class="md-toolbar-tools">Filters</h1>
        <span flex></span>
        <md-button ng-click="toggleFilterSidenav()" style="min-width:0;">
          <md-icon style="font-size:30px;">close</md-icon>
        </md-button>
      </md-toolbar>
      <div req-filter layout="column"></div>
    </md-sidenav>

    <div flex layout-fill class="flipper">

      <!-- list -->
      <div class="front reqlist" style="overflow:scroll;">
        <div ui-view="list" flex layout="column"></div>
      </div>

      <!-- map -->
      <div class="back" ui-view="map"  ></div>

    </div>


  </md-content>



</div>
