<md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-whiteframe="4"
        style="background-color: #1a1f1e;">
  <md-toolbar layout="row" class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Menu</h1>
    <span flex></span>
    <md-button ng-click="closeSidenav()" style="min-width:0;">
      <md-icon style="font-size:30px;">close</md-icon>
    </md-button>
  </md-toolbar>

  <md-content style="background-color: #1a1f1e;" layout="column">

    <md-button if-not-user class="md-primary" ui-sref="login" ng-click="closeSidenav()">
      Login
    </md-button>

    <md-button if-not-user class="md-primary tour-register" ui-sref="register" ng-click="closeSidenav()">
      Register
    </md-button>

    <md-divider></md-divider>

    <md-button class="md-primary tour-create" ui-sref="buyreqs.list" ng-click="closeSidenav()">
      All Reqs
    </md-button>

    <md-button if-user class="md-primary" ui-sref="myreqs.list" ng-click="closeSidenav()">
      My Reqs
    </md-button>

    <md-button if-user class="md-primary" ui-sref="req.add" ng-click="closeSidenav()">
      Create Req
    </md-button>


    <md-divider></md-divider>

    <div if-user>

      <md-toolbar layout="row">
        <!-- <md-icon>person</md-icon> -->
        <h1 class="md-toolbar-tools">
          Account
        </h1>
      </md-toolbar>


      <md-button class="md-primary tour-profile" ui-sref="profile" ng-click="closeSidenav()">
        Profile
      </md-button>

      <md-button id="shareProfile" data-clipboard-text="{{profileLink}}" class="md-primary">
        Share List
      </md-button>

      <md-button class="md-primary" ui-sref="mailbox.views" ng-click="closeSidenav()">
        Messages
      </md-button>


      <md-button class="md-warn" ui-sref="buyreqs.list" ng-click="closeSidenav()" sp-logout>
        Logout
      </md-button>

    </div>


    <md-divider></md-divider>

    <md-toolbar layout="row">
      <!-- <md-icon>info</md-icon> -->
      <h1 class="md-toolbar-tools">Info</h1>
    </md-toolbar>

    <md-button class="md-primary tour-about" ui-sref="about" ng-click="closeSidenav()">
      About
    </md-button>

    <md-button class="md-primary" ng-click="startTour()">
      Help
    </md-button>

    <md-button class="md-primary" ui-sref="legal" ng-click="closeSidenav()">
      Legal
    </md-button>
  </md-content>
</md-sidenav>
