<md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-whiteframe="4"
        style="background-color: #1a1f1e;">
  <md-toolbar layout="row" class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Menu</h1>
    <span flex></span>
    <md-icon>close</md-icon>
  </md-toolbar>

  <md-content style="background-color: #1a1f1e;" layout="column">

    <md-button if-not-user class="navtitle" ui-sref="login">
      Login
    </md-button>

    <md-button if-not-user class="navtitle" ui-sref="register" class="brokerTour3 brokerTour4 brokerTour5">
      Register
    </md-button>

    <md-divider></md-divider>

    <md-button class="md-primary" ui-sref="buyreqs.list">
      All Reqs
    </md-button>

    <md-button if-user class="md-primary" ui-sref="myreqs.list">
      My Reqs
    </md-button>

    <md-button if-user class="md-primary" ui-sref="req.add">
      Create Req
    </md-button>


    <md-divider></md-divider>

    <md-toolbar layout="row">
      <md-icon>person</md-icon>
      <h1 class="md-toolbar-tools">Account</h1>
    </md-toolbar>

    <md-button class="md-primary" ui-sref="mailbox.views">
      Messages
    </md-button>

    <md-button class="md-primary" ui-sref="profile">
      Profile
    </md-button>

    <md-button class="md-primary" ui-sref="buyreqs.list" sp-logout>
      Logout
    </md-button>

    <md-divider></md-divider>

    <md-toolbar layout="row" class="md-theme-indigo">
      <md-icon>info</md-icon>
      <h1 class="md-toolbar-tools">Info</h1>
    </md-toolbar>

    <md-button class="md-primary" ui-sref="about">
      About
    </md-button>

    <md-button class="md-primary" ng-click="startTour()">
      Help
    </md-button>

    <md-button class="md-primary" ui-sref="legal">
      Legal
    </md-button>
  </md-content>
</md-sidenav>
