<md-content flex id="intro" layout="column" layout-padding class="md-whiteframe-10dp">

  <div>
    Do you want an intro ?
  </div>

  <md-button class="md-raised md-primary" ng-click="introPanel.showIntroCard('Broker')">
    Yes, I am a CRE Broker
  </md-button>

  <md-button class="md-raised md-primary" ng-click="introPanel.showIntroCard('Buyer')">
    Yes, I am a CRE Buyer
  </md-button>

  <md-button class="md-raised md-primary" ng-click="introPanel.showIntroCard('Seller')">
    Yes, I am a CRE Seller
  </md-button>

  <md-button class="md-primary" ng-click="introPanel.closePanel()">
    skip Intro
  </md-button>

</md-content>
