/*#intro {
  width: 90%;
  z-index: 1000;
}*/

.md-panel-outer-wrapper {
  background-color: rgba(29, 51, 49, 0.22);
}

.introPanel-large {
    /*width: 25%;*/
}



.introCard-large md-card-header, .introCard-small md-card-header, .brokerPanel-large md-card-header, .brokerPanel-small md-card-header {
  background-color: #00695c;
  color: white;
  border: solid 3px white;
}

.brokerPanel-small {
  position: absolute;
  height: 100%;
}
/*.introCard {
  width:100%;
}*/
