<md-card flex md-whiteframe-3dp>
  <md-card-header>
    Brokers
  </md-card-header>
  <md-card-content>
    CREapp is a free service made by brokers for brokers
    <br>
    <br>
    We invite you to register and add your customers' buy/lease requirements.
  </md-card-content>
  <md-card-actions>
    <md-button class="md-primary md-raised" ng-click="introPanel.startTour('broker')">
      Tour
    </md-button>
    <md-button class="md-primary" ng-click="introPanel.closePanel()">
      Skip
    </md-button>
  </md-card-actions>
</md-card>
