#intro {
  width: 90%;
  /*z-index: 1000;*/
}

.md-panel-outer-wrapper {
  background-color: rgba(29, 51, 49, 0.65);
}

md-card-header {
  background-color: #00695c;
  color: white;
  border: solid 3px white;
}
