
<md-toolbar layout="row">

  <div flex class="md-toolbar-tools" layout="row">

    <div flex="10">
      <h1><span> CRE APP </span></h1>
    </div>

    <div flex layout="row">

      <md-button class="md-primary md-ink-ripple navtitle" ng-repeat="item in nav.menu" ui-sref="{{item.state}}" ui-sref-active="active" style="vertical-align: middle;">
        {{item.title}}
      </md-button>

      <md-button class="md-primary md-ink-ripple navtitle" if-user ui-sref="buyreqs" ui-sref-active="active">
        Find
      </md-button>

      <md-button class="md-primary md-ink-ripple navtitle" if-user ui-sref="addreq" ui-sref-active="active">
        Add
      </md-button>

      <md-button class="md-primary md-ink-ripple navtitle" if-user ui-sref="myreqs" ui-sref-active="active">
        My Reqs
      </md-button>


<!--         <md-button if-user-in-group="admins" ui-sref="admins" ui-sref-active="active">
        Admin Console
      </md-button> -->

    </div>

    <span flex></span>

    <div if-not-user flex  layout-align="end center" class="md-toolbar-tools" layout="row">

      <md-button ui-sref="login" ui-sref-active="active">
        Login
      </md-button>

      <md-button if-not-user ui-sref="register" ui-sref-active="active">
        Register
      </md-button>

    </div>


    <div if-user class="md-toolbar-tools" layout="row">

      <md-menu>

        <button class="md-fab md-primary md-hue-1 md-button md-mini md-ink-ripple" ng-click="nav.openMenu($mdOpenMenu, $event)" type="button" aria-label="Profile">
          <md-tooltip md-direction="left">
              Account
            </md-tooltip>
          <i class="material-icons" style="vertical-align: middle;">person</i>
        </button>

        <md-menu-content class="md-primary" width="4">

          <md-menu-item>
            <md-button ui-sref="profile.view" ui-sref-active="active">
              Profile
            </md-button>
          </md-menu-item>

          <md-menu-item >
            <md-button ui-sref="main" sp-logout>
              Logout
            </md-button>
          </md-menu-item>

        </md-menu-content>

      </md-menu>

    </div>

  </div>
</md-toolbar>
