
<md-toolbar layout="row">

  <div flex class="md-toolbar-tools" layout="row">

    <div flex="20">
      <h1><span> CRE APP </span></h1>
    </div>

    <div hide-sm hide-xs flex layout="row">
      <md-button class="md-primary md-ink-ripple navtitle" if-user ui-sref="buyreqs" ui-sref-active="active">
        Find
      </md-button>
      <md-button class="md-primary md-ink-ripple navtitle" if-user ui-sref="addreq" ui-sref-active="active">
        Add
      </md-button>
      <md-button class="md-primary md-ink-ripple navtitle" if-user ui-sref="myreqs" ui-sref-active="active">
        My Reqs
      </md-button>
    </div>

    <span flex hide-gt-sm></span>

    <md-menu hide-gt-sm>
      <md-button ng-click="nav.openMenu($mdOpenMenu, $event)">
        <i class="material-icons" style="font-size:32px;vertical-align:middle;">menu</i>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item if-user >
          <md-button ui-sref="buyreqs" ui-sref-active="active">
            Find
          </md-button>
        </md-menu-item>
        <md-menu-item if-user>
          <md-button ui-sref="addreq" ui-sref-active="active">
            Add
          </md-button>
        </md-menu-item>
        <md-menu-item if-user >
          <md-button ui-sref="myreqs" ui-sref-active="active">
            My Reqs
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

        <!-- <md-button if-user-in-group="admins" ui-sref="admins" ui-sref-active="active">
        Admin Console
      </md-button> -->


    <!-- <span flex></span> -->

    <div if-not-user flex  layout-align="end center" class="md-toolbar-tools" layout="row">

      <md-button ui-sref="login" ui-sref-active="active">
        Login
      </md-button>

      <md-button if-not-user ui-sref="register" ui-sref-active="active">
        Register
      </md-button>

    </div>


    <div if-user class="md-toolbar-tools" layout="row">

      <md-menu>

        <button class="md-fab md-primary md-hue-1 md-button md-mini md-ink-ripple" ng-click="nav.openMenu($mdOpenMenu, $event)" type="button" aria-label="Profile">
          <md-tooltip md-direction="left">
              Account
            </md-tooltip>
          <i class="material-icons" style="vertical-align: middle;">person</i>
        </button>

        <md-menu-content class="md-primary" width="4">

          <md-menu-item>
            <md-button ui-sref="profile.view" ui-sref-active="active">
              Profile
            </md-button>
          </md-menu-item>

          <md-menu-item >
            <md-button ui-sref="main" sp-logout>
              Logout
            </md-button>
          </md-menu-item>

        </md-menu-content>

      </md-menu>

    </div>

  </div>
</md-toolbar>
