
<md-toolbar layout="row">

  <div flex class="md-toolbar-tools" layout="row">

    <div flex="20">
      <h1><span> CREapp.us </span></h1>
    </div>

    <div hide-xs flex layout="row">
      <md-button class="md-primary md-ink-ripple navtitle" ui-sref="buyreqs" ui-sref-active="active">
        Find
      </md-button>
      <md-button class="md-primary md-ink-ripple navtitle" if-user ui-sref="addreq" ui-sref-active="active">
        Add
      </md-button>
      <md-button class="md-primary md-ink-ripple navtitle" if-user ui-sref="myreqs" ui-sref-active="active">
        My Reqs
      </md-button>
    </div>

    <span flex></span>

    <div flex>

      <md-menu hide-gt-xs>
        <md-button>
          <md-icon ng-click="nav.openMenu($mdOpenMenu, $event)">
            menu
          </md-icon>
        </md-button>
        <md-menu-content width="4" class="md-primary">
          <md-menu-item>
            <md-button class="md-primary" ui-sref="buyreqs" ui-sref-active="active">
              Find
            </md-button>
          </md-menu-item>
          <md-menu-item if-user>
            <md-button class="md-primary" ui-sref="addreq" ui-sref-active="active">
              Add
            </md-button>
          </md-menu-item>
          <md-menu-item if-user >
            <md-button class="md-primary" ui-sref="myreqs" ui-sref-active="active">
              My Reqs
            </md-button>
          </md-menu-item>
          <md-menu-item  if-not-user >
            <md-button class="md-primary" ui-sref="login" ui-sref-active="active">
              Login
            </md-button>
          </md-menu-item>
          <md-menu-item  if-not-user >
            <md-button class="md-primary" ui-sref="register" ui-sref-active="active">
              Register
            </md-button>
          </md-menu-item>

          <!-- <md-menu-item >
            <md-button if-user-in-group="admins" ui-sref="admins" ui-sref-active="active">
              Admin Console
            </md-button>
          </md-menu-item > -->
        </md-menu-content>
      </md-menu>

    </div>


    <!-- <span flex></span> -->

    <div if-not-user hide-xs flex  layout-align="end center" class="md-toolbar-tools" layout="row">

      <md-button ui-sref="login" ui-sref-active="active">
        Login
      </md-button>

      <md-button ui-sref="register" ui-sref-active="active">
        Register
      </md-button>

    </div>


    <div if-user layout="row">

      <md-menu>

        <button class="md-fab md-primary md-hue-1 md-button md-mini md-ink-ripple" ng-click="nav.openMenu($mdOpenMenu, $event)" type="button" aria-label="Profile">
          <md-tooltip md-direction="bottom">
              Account
            </md-tooltip>
          <i class="material-icons" style="vertical-align: middle;">person</i>
        </button>

        <md-menu-content class="md-primary" width="4">

          <md-menu-item>
            <md-button class="md-primary" ui-sref="mailbox" ui-sref-active="active">
              Messages
            </md-button>
          </md-menu-item>

          <md-menu-item>
            <md-button class="md-primary" ui-sref="profile.view" ui-sref-active="active">
              Profile
            </md-button>
          </md-menu-item>

          <md-menu-item >
            <md-button class="md-primary" ui-sref="main" sp-logout>
              Logout
            </md-button>
          </md-menu-item>

        </md-menu-content>

      </md-menu>

    </div>

    <!-- <span flex="5"></span> -->

    <div layout="row" style="margin-left: 15px;">

      <md-menu>

        <a class="md-primary md-ink-ripple" ng-click="nav.openMenu($mdOpenMenu, $event)" type="button" style="cursor: pointer;" aria-label="More">
          <md-tooltip md-direction="bottom">
              More
            </md-tooltip>
          <md-icon class="material-icons" style="vertical-align: middle;">more_vert</md-icon>
        </a>

        <md-menu-content class="md-primary" width="4">

          <md-menu-item>
            <md-menu-item>
              <md-button class="md-primary" ui-sref="about" ui-sref-active="active">
                About
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button class="md-primary" ui-sref="help" ui-sref-active="active">
                Help
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button class="md-primary" ui-sref="legal" ui-sref-active="active">
                Legal
              </md-button>
            </md-menu-item>

        </md-menu-content>

      </md-menu>

  </div>
</md-toolbar>
