

<md-toolbar layout="row" ng-if="'req.add' | isState" class="md-primary md-hue-2">
  <md-button flex="30" class="md-raised md-primary md-hue-1 md-ink-ripple" ng-click="addReq()">
    Publish
  </md-button>
  <md-button flex="30" class="md-ink-ripple" ng-click="cancel()">
    Cancel
  </md-button>
  <span hide-gt-xs flex></span>
  <md-button hide-gt-xs ng-click="toggleEditForm()" class="md-accent md-raised" style="width:40px;min-width: 0;padding: 0 6px 10px 0px;">
    <md-icon style="font-size:32px">language</md-icon>
  </md-button>
</md-toolbar>

<md-toolbar layout="row" ng-if="'req.edit' | isState" class="md-primary md-hue-2">
  <md-button flex="30" class="md-raised md-primary md-hue-1 md-ink-ripple" ng-click="saveEdit()" >
    Save
  </md-button>
  <md-button flex="30" class="md-ink-ripple" ng-click="cancel()">
    Cancel
  </md-button>
  <md-button flex="30" class="md-raised md-warn md-ink-ripple" ng-click="deleteReq()">
    Delete
  </md-button>
</md-toolbar>

<md-content flex layout="column" layout-padding>
  <h4> {{req.polygons.length}} areas selected</h4>

  <div flex layout="column" style="display: block;">
    <md-input-container flex layout-margin>
      <label>Type</label>
      <md-select ng-model="req.type">
        <md-option ng-repeat="type in types" value="{{type}}">
          {{type}}
        </md-option>
      </md-select>
    </md-input-container>
    </div>
    <!-- <span flex></span> -->
    <div style="display: block;">
    <md-input-container layout-margin>
      <label>Title</label>
      <input type="text" md-maxlength="36" ng-model="req.title" required>
    </md-input-container>
  </div>

  <div style="display: block;">
    <fieldset>
      <legend> Description </legend>
    <md-input-container>
      <!-- <label>Description</label> -->
      <textarea ng-model="req.info" md-maxlength="500" required></textarea>
    </md-input-container>
    </fieldset>
  </div>


  <div layout="row" style="display: block;">
    <fieldset>
      <legend> Area Requirements </legend>
    <!-- <div flex="70" style="padding-top: 25%;">Square Feet</div> -->
    <div layout="column">
      <md-input-container>
        <label>Min Area sqft</label>
        <input type="text" ng-model="req.min_sqft" number required>
      </md-input-container>
      <md-input-container>
        <label>Max Area sqft</label>
        <input type="text" ng-model="req.max_sqft" number required>
      </md-input-container>
    </div>
    <md-input-container flex layout="column">
        <md-radio-group ng-model="landandprop">
          <md-radio-button value="landAndProperty" class="md-primary">Land and Property</md-radio-button>
          <md-radio-button value="landOnly" class="md-primary"> Land Only </md-radio-button>
        </md-radio-group>
      <!-- <div flex>
        <md-checkbox class="md-primary" ng-model="req.landOnly" aria-label="land only">
          Land Only
        </md-checkbox>
      </div>
      <div flex>
        <md-checkbox class="md-primary" ng-model="req.landWithProperty" aria-label="land with property">
          Land and Property
        </md-checkbox>
      </div> -->
    </md-input-container>
  </fieldset>
  </div>



  <div style="display: block;">
  </div>

  <div style="display: block;">
      <div flex>
        <md-checkbox ng-if="!req.buy" ng-click="scrollDown()" class="md-primary" ng-model="req.buy" aria-label="buy">
          Buy
        </md-checkbox>
        <fieldset ng-if="req.buy">
          <legend>
            <md-checkbox class="md-primary" ng-model="req.buy" aria-label="buy">
              Buy
            </md-checkbox>
          </legend>
          <div ng-if="req.buy" layout="row">
            <!-- <div flex="70" style="padding-top: 25%;">Price</div> -->
            <div layout="column">
              <md-input-container>
                <label>Min Buy Price $</label>
                <input type="text" ng-model="req.buy_min_price" dollars required></input>
              </md-input-container>
              <md-input-container>
                <label>Max Buy Price $</label>
                <input type="text" ng-model="req.buy_max_price" dollars required>
              </md-input-container>
            </div>
          </div>
        </fieldset>
      </div>
      <br>
      <div flex>
        <md-checkbox ng-if="!req.exchange" ng-click="scrollDown()" class="md-primary" ng-model="req.exchange" aria-label="exchange">
          Exchange
        </md-checkbox>
        <fieldset ng-if="req.exchange">
          <legend>
            <md-checkbox class="md-primary" ng-model="req.exchange" aria-label="exchange">
              Exchange
            </md-checkbox>
          </legend>
          <div ng-if="req.exchange" layout="row">
            <!-- <div flex="70" style="padding-top: 25%;">Price</div> -->
            <div layout="column">
              <md-input-container>
                <label>Min Exchange Price $</label>
                <input type="text" ng-model="req.exchange_min_price" dollars required></input>
              </md-input-container>
              <md-input-container>
                <label>Max Exchange Price $</label>
                <input type="text" ng-model="req.exchange_max_price" dollars required>
              </md-input-container>
            </div>
          </div>
        </fieldset>
      </div>
      <br>
      <div flex>
        <md-checkbox ng-if="!req.lease" ng-click="scrollDown()" class="md-primary" ng-model="req.lease" aria-label="lease">
          Lease
        </md-checkbox>
        <fieldset ng-if="req.lease">
          <legend>
            <md-checkbox class="md-primary" ng-model="req.lease" aria-label="lease">
              Lease
            </md-checkbox>
          </legend>
          <div ng-if="req.lease" layout="row" style="display: block;">
            <!-- <div flex="70" style="padding-top: 25%;">Price</div> -->
            <div layout="column">
              <md-input-container>
                <label>Min Lease Price $/sqft</label>
                <input type="text" ng-model="req.lease_min_price" dollarspersqft required></input>
              </md-input-container>
              <md-input-container>
                <label>Max Lease Price $/sqft</label>
                <input type="text" ng-model="req.lease_max_price" dollarspersqft required>
              </md-input-container>
            </div>
          </div>
        </fieldset>
      </div>
  </div>

  <span id=bottom></span>

</md-content>
