

<md-toolbar layout="row" ng-if="'req.add' | isState" class="md-primary md-hue-2">
  <md-button flex="30" class="md-raised md-primary md-hue-1 md-ink-ripple" ng-click="addReq()">
    Publish
  </md-button>
  <md-button flex="30" class="md-ink-ripple" ng-click="cancel()">
    Cancel
  </md-button>
  <span hide-gt-xs flex></span>
  <md-button hide-gt-xs ng-click="toggleEditForm()" class="md-accent md-raised" style="width:40px;min-width: 0;padding: 0 6px 10px 0px;">
    <md-icon style="font-size:32px">language</md-icon>
  </md-button>
</md-toolbar>

<md-toolbar layout="row" ng-if="'req.edit' | isState" class="md-primary md-hue-2">
  <md-button flex="30" class="md-raised md-primary md-hue-1 md-ink-ripple" ng-click="saveEdit()" >
    Save
  </md-button>
  <md-button flex="30" class="md-ink-ripple" ng-click="cancel()">
    Cancel
  </md-button>
  <md-button flex="30" class="md-raised md-warn md-ink-ripple" ng-click="deleteReq()">
    Delete
  </md-button>
</md-toolbar>

<div class="errors" ng-if="formErrors.area">
  Please add area
</div>
<div class="errors" ng-if="formErrors.buytype">
  Please choose buying type
</div>



<form name="reqForm" class="editForm" flex layout="column" layout-padding>


  <div flex layout="column" style="display: block;">
    <md-input-container flex layout-fill>
      <label>Type</label>
      <md-select ng-model="req.type" required>
        <md-option ng-repeat="type in types" value="{{type}}">
          {{type}}
        </md-option>
      </md-select>
    </md-input-container>
    </div>
    <!-- <span flex></span> -->
    <div style="display: block;">
    <md-input-container layout-fill>
      <label>Title</label>
      <input name="title" type="text" md-maxlength="36" ng-model="req.title" ng-minlength="10"
       ng-maxlength="36" required>
      <div class="errors" ng-messages="reqForm.title.$error">
        <div ng-message="required">Required</div>
        <div ng-message="minlength">Your field is too short</div>
        <div ng-message="maxlength">Your field is too long</div>
      </div>
    </md-input-container>
  </div>

  <div style="display: block;">
    <fieldset layout="column">
      <legend> Location Input </legend>

      <md-radio-group ng-model="input.type">
        <md-radio-button value="draw" class="md-primary" aria-label="draw">
               Draw on map
        </md-radio-button>
        <md-radio-button value="circle" class="md-primary" aria-label="circle">
               Input Location
        </md-radio-button>
      </md-radio-group>
      <div class="errors" ng-if="formErrors.area">
        Please add area
      </div>

      <div class="drawcontrols" ng-if="input.type==='draw'" layout="column">
        <br>
        <md-content >{{drawmode}}</md-content>
        <md-button class="md-primary md-raised" ng-click="setMode('edit')" ng-disabled="drawmode==='edit'" style="margin-left:0;">
          <i class="material-icons"  style="vertical-align:middle;">touch_app</i>
          edit or delete area
        </md-button>
        <md-button class="md-primary md-raised" ng-click="setMode('all')" ng-disabled="drawmode==='all'" style="margin-left:0;">
          <i class="material-icons"  style="vertical-align:middle;">edit</i>
          draw new area
        </md-button>
        <br>
        <md-button class="md-primary md-raised" hide-gt-xs ng-click="toggleEditForm()" style="margin-left:0;">
          <md-tooltip md-direction="right" style="z-index:1000;">edit requirement</md-tooltip>
          <i class="material-icons"  style="vertical-align:middle;">rate_review</i>
        </md-button>
        <br>
      </div>

      <div layout="column" ng-if="input.type==='circle'">
        <md-input-container>
          <label>Radius (miles)</label>
          <input type="number" ng-model="circleDraw.radius">
        </md-input-container>
        <md-input-container>
          <label>Street / City / Zippcode</label>
          <input id="geoinput" type="text" ng-model="circleDraw.geoinput">
        </md-input-container>
        <md-input-container>
          <label>State</label>
          <md-select ng-model="circleDraw.selectedState" md-container-class="stateselection" aria-label="state selection">
            <md-option ng-value="state" ng-repeat="state in circleDraw.states">{{ state }}</md-option>
          </md-select>
        </md-input-container>
        <md-button class="md-raised md-primary" layout-fill ng-click="circleDraw.drawCircle()">
          Draw
        </md-button>
      </div>

    </fieldset>
  </div>



  <div style="display: block;" ng-if="req.center.length>0">
    <fieldset layout="column">
      <legend> Location </legend>
      <span flex editable-text="req.radius" placeholder="radius" on-change="validate(value, 'string')">miles from:</span>
      <span flex editable-text="req.road" placeholder="address" on-change="validate(value, 'string')"></span>
      <span flex editable-text="req.postcode" placeholder="postcode" on-change="validate(value, 'string')"></span>
      <span flex editable-text="req.city" placeholder="city" on-change="validate(value, 'string')"></span>
      <span flex editable-text="req.town" placeholder="town" on-change="validate(value, 'string')"></span>
      <span flex editable-text="req.county" placeholder="county" on-change="validate(value, 'string')"></span>
      <span flex >{{req.state}}</span>
      <md-button class="md-primary md-fab md-mini md-raised" ng-click="updateLocation()">
        <md-icon>loop</md-icon>
      </md-button>
    </fieldset>
  </div>

  <div layout="row" style="display: block;">
    <fieldset flex layout="column">
      <legend> Description </legend>
      <md-input-container flex layout-fill>
        <!-- <label>Description</label> -->
        <textarea name="description" ng-model="req.info" md-maxlength="500" ng-maxlength="36" required aria-label="description"></textarea>
        <div class="errors" ng-messages="reqForm.description.$error">
          <div ng-message="maxlength">Your field is too long</div>
          <div ng-message="required">Please enter description</div>
        </div>
      </md-input-container>
    </fieldset>
  </div>


  <div layout="row" style="display: block;">
    <fieldset>
      <legend> Area Requirements </legend>
    <!-- <div flex="70" style="padding-top: 25%;">Square Feet</div> -->
    <div layout="column">
      <md-input-container>
        <label>Min Area sqft</label>
        <input type="text" ng-model="req.min_sqft" number required>
      </md-input-container>
      <md-input-container>
        <label>Max Area sqft</label>
        <input type="text" ng-model="req.max_sqft" number required>
      </md-input-container>
    </div>
    <md-input-container flex layout="column">
        <md-radio-group ng-model="landandprop">
          <md-radio-button value="landAndProperty" class="md-primary">Land and Property</md-radio-button>
          <md-radio-button value="landOnly" class="md-primary"> Land Only </md-radio-button>
        </md-radio-group>
      <!-- <div flex>
        <md-checkbox class="md-primary" ng-model="req.landOnly" aria-label="land only">
          Land Only
        </md-checkbox>
      </div>
      <div flex>
        <md-checkbox class="md-primary" ng-model="req.landWithProperty" aria-label="land with property">
          Land and Property
        </md-checkbox>
      </div> -->
    </md-input-container>
  </fieldset>
  </div>

  <div style="display: block;">
    <div class="errors" ng-if="formErrors.buytype">
      Please choose buying type
    </div>
    <div flex>
      <md-checkbox ng-click="scrollDown()" ng-change="checkReqBuyType()" class="md-primary" ng-model="req.buy" aria-label="buy">
        Buy
      </md-checkbox>
      <fieldset ng-if="req.buy">
        <div ng-if="req.buy" layout-gt-sm="row" layout="column">
          <md-input-container>
            <label>Min Buy Price $</label>
            <input type="text" ng-model="req.buy_min_price" dollars required></input>
          </md-input-container>
          <md-input-container>
            <label>Max Buy Price $</label>
            <input type="text" ng-model="req.buy_max_price" dollars required>
          </md-input-container>
        </div>
      </fieldset>
    </div>
    <br>
    <div flex>
      <md-checkbox ng-click="scrollDown()" ng-change="checkReqBuyType()" class="md-primary" ng-model="req.exchange" aria-label="exchange">
        Exchange
      </md-checkbox>
      <fieldset ng-if="req.exchange">
        <div ng-if="req.exchange" layout-gt-sm="row" layout="column">
          <md-input-container>
            <label>Min Exchange Price $</label>
            <input type="text" ng-model="req.exchange_min_price" dollars required></input>
          </md-input-container>
          <md-input-container>
            <label>Max Exchange Price $</label>
            <input type="text" ng-model="req.exchange_max_price" dollars required>
          </md-input-container>
        </div>
      </fieldset>
    </div>
    <br>
    <div flex>
      <md-checkbox ng-click="scrollDown()" ng-change="checkReqBuyType()" class="md-primary" ng-model="req.lease" aria-label="lease">
        Lease
      </md-checkbox>
      <fieldset ng-if="req.lease">
        <div ng-if="req.lease" layout-gt-sm="row" layout="column">
            <md-input-container>
              <label>Min Lease Price $/sqft</label>
              <input type="text" ng-model="req.lease_min_price" dollarspersqft required></input>
            </md-input-container>
            <md-input-container>
              <label>Max Lease Price $/sqft</label>
              <input type="text" ng-model="req.lease_max_price" dollarspersqft required>
            </md-input-container>
        </div>
      </fieldset>
    </div>
  </div>

  <span id=bottom></span>

</form>
