<md-toolbar>
  <div class="md-toolbar-tools">
    <h3>Message To {{brokerName}}</h3>
  </div>
</md-toolbar>
<md-dialog-content class="mailForm" >
  <div layout="column" md-whiteframe="3" layout-padding layout-margin>
    <!-- <div layout="row" layout-padding>
      <h3>to: {{brokerName}}</h3>
    </div> -->
    <div layout="row">
      <fieldset layout="row" layout-padding>
        <legend><h4 style="margin:0;">From:</h4></legend>
        <div layout="column">
          <div layout="row" class="inputs">
            <md-input-container flex class="md-block">
              <label class="md-headline">First Name</label>
              <input type="text" ng-model="mailForm.givenName"></input>
            </md-input-container>
            <md-input-container flex class="md-block">
              <label class="md-headline">Last Name</label>
              <input type="text" ng-model="mailForm.surname"></input>
            </md-input-container>
          </div>

          <div class="inputs">
            <md-input-container class="md-block">
              <label class="md-title">Email</label>
              <input type="email" ng-model="mailForm.email"></input>
            </md-input-container>
          </div>
        </div>
      </fieldset>
    </div>

    <div>
      <fieldset>
        <legend><h4 style="margin:0;">Message:</h4></legend>
        <md-input-container layout="column" class="md-block">
          <!-- <label class="md-headline">Message</label> -->
          <textarea ng-model="mailForm.message"></textarea>
        </md-input-container>
      </fieldset>
    </div>



  </div>
</md-dialog-content>

<md-dialog-actions>
  <div layout="row" layout-margin>
    <md-button class="md-raised md-primary md-ink-ripple" ng-click="sendMail()">Send</md-button>
    <md-button class="md-primary md-ink-ripple" ng-click="closeDialog()">Cancel</md-button>
  </div>
</md-dialog-actions>
