<md-content layout="row">
  <!-- <span flex></span> -->
  <div flex layout="column">
    <md-card>
      <md-card-header>
        <md-card-header-text>
        <div class="md-title" layout="row">
        <span flex ng-if="edit.mode" editable-text="broker.customData.function" placeholder="add your function" on-change="validate(value, 'string')"></span>
        <span flex ng-if="!edit.mode && broker.customData.function" >{{broker.customData.function}}</span>
      </div>
        <div layout="row">
          <span class="md-subhead">RE License #: </span>
          <span ng-if="edit.mode" editable-text="broker.customData.license" class="md-subhead"></span>
          <span ng-if="!edit.mode && broker.customData.license" class="md-subhead">{{broker.customData.license}}</span>
          </div>
        <div layout="row">
          <span class="md-subtitle">company: </span>
          <span ng-if="edit.mode" class="md-subtitle" editable-text="broker.customData.company" placeholder="company name"></span>
          <span ng-if="!edit.mode && broker.customData.company" class="md-subtitle">{{broker.customData.company}}</span>
          </div>
        </md-card-header-text>
      </md-card-header>
      <md-divider></md-divider>
      <md-card-title>
        <md-card-title-text>
          <div layout="row" >
            <span ng-if="!edit.mode" class="md-headline">{{broker.fullName}}</span>
            <span ng-if="edit.mode" editable-text="broker.givenName" class="md-headline"></span>
              <span ng-if="edit.mode" editable-text="broker.surname" class="md-headline"></span>
                </div>

          <div layout="row" ng-if="edit.mode">
            <span  class="md-body-1">Email:</span><span  class="md-body-1" editable-text="broker.email"></span>
              <span style="font-style: italic;color:red;">(hidden to public)</span>
          </div>

          <span class="md-body-1" ng-if="!edit.mode && broker.customData.phone!=='hidden'">
            tel: {{broker.customData.phone}}
          </span>
          <div layout="row" ng-if="edit.mode">
            <span class="md-body-1">
              tel:
            </span>
            <span class="md-body-1 edit" editable-text="broker.customData.phone"></span>
            <span ng-if="broker.customData.privatePhone" style="font-style: italic;color:red;">
              (hidden to public)
            </span>
            <span ng-if="!(broker.customData.privatePhone)" style="font-style: italic;color:red;">
              (shown to everybody)
            </span>
            <md-checkbox class="md-primary" ng-model="broker.customData.privatePhone" aria-label="private" style="margin-left:10px;">
              Private
            </md-checkbox>
          </div>

          <a class="md-subhead" ng-if="!edit.mode && broker.customData.loopnet" target="_blank" href="{{broker.customData.loopnet}}">Loopnet Profile</a>
            <!-- <label class="md-title">Loopnet Profile</label> -->
            <div ng-if="edit.mode" layout="row">
              <span>http://www.loopnet.com/profile/</span>
              <span editable-text="broker.customData.loopnet" placeholder="caca"></span>
            </div>

          <!-- <span class="md-subhead" ng-if="!broker.customData.linkedin">Linkedin Profile Not Set</span> -->
          <a class="md-subhead" ng-if="!edit.mode && broker.customData.linkedin" target="_blank" href="{{broker.customData.linkedin}}">Linkedin Profile</a>
            <!-- <label class="md-title">Loopnet Profile</label> -->
            <div ng-if="edit.mode" layout="row">
              <span>http://www.linkedin.com/profile/</span>
              <span editable-text="broker.customData.linkedin"></span>
            </div>

          <br>
        </md-card-title-text>

        <md-card-title-media>
          <div flex layout="column" class="brokerpicture">
            <img id="brokerpic" ng-src="{{brokerpic}}" onerror="angular.element(this).scope().getDefaultPic(this)" class="md-media-sm card-media"></img>
            <div ng-if="edit.mode" layout="column">
              <label flex="nogrow" for="fileToUpload" class="md-button md-primary">
                <md-icon>add_a_photo</md-icon>
                Picture
              </label>
              <input id="fileToUpload" type="file" accept="image/*" onchange="angular.element(this).scope().upload(this.files)" class="ng-hide">
              <md-button ng-if="edit.hasPicCommitted" class="md-warn" ng-click="deletePic()">Delete</md-button>
              <md-button ng-if="!edit.hasPicCommitted && edit.hasPicStaged" class="" ng-click="cancelPic()">Cancel</md-button>
            </div>
          </div>
        </md-card-title-media>

      </md-card-title>

      <md-card-actions ng-if="!edit.mode" layout="row" layout-align="start center">
        <mailbutton broker="broker"></mailbutton>
      </md-card-actions>
      <md-card-content flex layout="column">
        <span class="md-subtitle"><h4>Summary</h4></span>
        <span ng-if="!edit.mode" class="md-body-1">{{broker.customData.summary}}</span>
        <textarea flex ng-if="edit.mode" rows="4" ng-model="broker.customData.summary" class="md-body-1"></textarea>
      </md-card-content>
    </md-card>

  <!-- <span flex></span> -->
</md-content>
