<md-content layout="row">
  <!-- <span flex></span> -->
  <div flex layout="column">

    <md-card >
      <md-card-header>
        <md-card-header-text>
        <span ng-if="broker.customData.function" class="md-title">{{broker.customData.function}}</span>
        <span class="md-subhead">RE License #{{broker.customData.license}}</span>
        <span ng-if="broker.customData.company" class="md-subtitle">company: {{broker.customData.company}}</span>
        </md-card-header-text>
      </md-card-header>
      <md-divider></md-divider>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{broker.fullName}}</span>

          <span class="md-body-1" ng-if="broker.email">
            {{broker.email}}
            <span style="font-style: italic;color:red;">
              (hidden to public)
            </span>
          </span>

          <span class="md-body-1" ng-if="broker.customData.phone!=='hidden'">
            tel: {{broker.customData.phone}}
            <span ng-if="broker.customData.privatePhone && myprofile" style="font-style: italic;color:red;">
              (hidden to public)
            </span>
            <span ng-if="!(broker.customData.privatePhone) && myprofile" style="font-style: italic;color:red;">
              (shown to everybody)
            </span>
          </span>

          <!-- <span class="md-subhead" ng-if="!(broker.customData.loopnet)">Loopnet Profile Not Set</span> -->
          <a class="md-subhead" ng-if="broker.customData.loopnet" target="_blank" href="{{broker.customData.loopnet}}">Loopnet Profile</a>

          <!-- <span class="md-subhead" ng-if="!broker.customData.linkedin">Linkedin Profile Not Set</span> -->
          <a class="md-subhead" ng-if="broker.customData.linkedin" target="_blank" href="{{broker.customData.linkedin}}">Linkedin Profile</a>

          <br>
        </md-card-title-text>
        <!-- <md-card-title-media>
          <img ng-src="assets/images/user-default.png" class="md-media-sm card-media"></img>
        </md-card-title-media> -->
      </md-card-title>
      <md-card-actions layout="row" layout-align="start center">
        <mailbutton broker="broker"></mailbutton>
      </md-card-actions>
      <md-card-content>
        <span class="md-subtitle"><h4>Summary</h4></span>
        <span class="md-body-1">{{broker.customData.summary}}</span>
      </md-card-content>
    </md-card>

  <!-- <span flex></span> -->
</md-content>
