<div flex layout="column">
  <div layout="row" layout-margin>
    <md-button ng-if="!edit.mode" class="md-raised md-primary" ng-click="editProfile()">Edit Profile</md-button>
    <md-button ng-if="edit.mode" class="md-raised md-primary" ng-click="viewProfile()">View Profile</md-button>
    <md-button ng-if="edit.mode" class="md-raised md-warn" ng-click="saveUserEdits()">Save Changes</md-button>
    <md-button ng-if="edit.mode" class="md-raised" ng-click="cancelEdits()">Cancel</md-button>
  </div>
  <div layout="row" layout-margin>
    <profile-edit user="broker" edit="edit" flex-gt-lg="50" flex-gt-sm="66" flex-sm="75" flex-xs="100" ></profile-edit>
  </div>
</div>
