<md-content layout="row">
  <!-- <span flex></span> -->
  <div flex layout="column">

    <md-card >
      <md-card-header>
        <md-card-header-text>
        <span ng-if="user.customData.function" class="md-subtitle">{{user.customData.function}}</span>
        <span class="md-subhead">RE License #{{user.customData.license}}</span>
        </md-card-header-text>
      </md-card-header>
      <md-card-actions layout="row" layout-align="start center">
        <mailbutton broker="user"></mailbutton>
      </md-card-actions>
      <md-divider></md-divider>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{user.fullName}}</span>
          <span class="md-body-1" ng-if="user.email">{{user.email}} <span style="font-weight:lighter;font-style: italic;">(hidden to public)</span></span>
          <span class="md-body-1">tel: {{user.customData.phone}} <span ng-if="user.customData.privatePhone" style="font-weight:lighter;font-style: italic;">(hidden to public)</span></span>
          <span class="md-subhead">Loopnet Profile</span>
          <a class="md-body-1" ng-if="user.customData.loopnet">{{user.customData.loopnet}}</a>
          <span class="md-body-1" ng-if="!user.customData.loopnet">not set</span>
          <span class="md-subhead">Linkedin Profile</span>
          <a class="md-body-1">{{user.customData.linkedin}}</a>
          <span class="md-body-1" ng-if="!user.customData.linkedin">not set</span>
          <br>
        </md-card-title-text>
        <md-card-title-media>
          <img ng-src="assets/images/user-default.png" class="md-media-sm card-media"></img>
        </md-card-title-media>
      </md-card-title>
      <md-card-content>
        <span class="md-subtitle"><h4>Summary</h4></span>
        <span class="md-body-1">{{user.customData.summary}}</span>
      </md-card-content>
    </md-card>

  <!-- <span flex></span> -->
</md-content>
