.profileEdit input, .profileEdit textarea {
      background-color: rgba(0, 150, 136, 0.08);
}

.profileEdit #brokerpic {
  height: 100px;
  width: 100px;
}

.gg-editable-text input {
    background-color: rgba(0, 150, 136, 0.08);
}

.gg-editable-text .original-text:hover, .gg-editable-text.editing {
  border-color: #009688;
  border-width: 2px;
  border-style: solid;
}


span[editable-text]:after{
   content: 'mode_edit';
   font-family: Material Icons;
   font-size: 12px;
   color:#009688;
}
