<div layout="row" layout-margin style="margin-bottom:20px;">
  <md-button class="md-raised md-primary" ui-sref="profile.view">View Profile</md-button>
  <md-button class="md-raised md-primary" ng-click="saveUserEdits()">Save</md-button>
</div>

<!-- <div layout="column" style="border: solid 2px green;"> -->
  <div class="profileEdit" layout-margin layout-padding md-whiteframe="3" style="overflow:scroll;">
    <!-- <span flex></span> -->
    <div flex layout="row">
      <md-input-container flex class="md-block">
        <label class="md-headline">Email (always hidden)</label>
        <input type="text" ng-model="userEdit.email"></input>
      </md-input-container>
    </div>
    <div flex layout="row">
      <md-input-container flex class="md-block">
        <label class="md-headline">First Name</label>
        <input type="text" ng-model="userEdit.givenName"></input>
      </md-input-container>
      <md-input-container flex class="md-block">
        <label class="md-headline">Last Name</label>
        <input type="text" ng-model="userEdit.surname"></input>
      </md-input-container>
    </div>
    <div flex>
      <md-input-container flex="50" class="md-block">
        <label class="md-title">RE license #</label>
        <input type="text" ng-model="userEdit.customData.license"></input>
      </md-input-container>
    </div>
    <div flex>
      <md-input-container class="md-block">
        <label class="md-title">Headline</label>
        <input type="text" ng-model="userEdit.customData.function"></input>
      </md-input-container>
    </div>
    <div flex layout="row">
      <md-input-container flex="60" class="md-block">
        <label class="md-title">Phone</label>
        <input type="text" ng-model="userEdit.customData.phone"></input>
      </md-input-container>
      <md-input-container class="md-block">
        <md-checkbox class="md-primary" ng-model="userEdit.customData.privatePhone" aria-label="private">
          Private
        </md-checkbox>
      </md-input-container>
    </div>
    <div flex>
      <md-input-container class="md-block">
        <label class="md-title">Loopnet Profile</label>
        <input type="text" placeholder="http://www.loopnet.com/john-doe-xxx" ng-model="userEdit.customData.loopnet"></input>
      </md-input-container>
    </div>
    <div flex>
      <md-input-container class="md-block">
        <label class="md-title">Linkedin Profile</label>
        <input type="text" placeholder="https://www.linkedin.com/in/john-doe-xxxx" ng-model="userEdit.customData.linkedin"></input>
        <div class="md-caption">your picture will appear if you sign in with linkedin</div>
      </md-input-container>
    </div>
    <br>
    <div flex>
      <md-input-container class="md-block">
        <label class="md-headline">Summary</label>
        <textarea rows="3" ng-model="userEdit.customData.summary"></textarea>
      </md-input-container>
    </div>

  </div>


<!-- </div> -->
