#mapcontrols{
  position: absolute;
  margin-left: 10px;
  z-index: 1000;
  /*margin-top:5px;*/
}

#mapcontrols .drawcontrols.inactive {
  background-color: rgba(63, 125, 111, 0.51);
  color: grey;
}

.largemap #mapcontrols {
  top: 5px;
}

.smallSmallMap #mapcontrols {
  display:none;
}

.largeSmallMap #mapcontrols {
  bottom: 5px;
}


/*#mapcontrols.small {
  top: 5px;
}

#mapcontrols.big {
  top: 5px;
}*/

 /*.smallmap #mapcontrols {
   display: none;
 }*/
