<div layout="column" id="mapcontrols" style="margin-top:5px;">

  <md-button class="md-fab md-mini md-accent" ng-click="geoSearch()" style="margin-left:0;">
    <md-tooltip md-direction="right">search</md-tooltip>
    <md-icon>search</md-icon>
  </md-button>
  <md-button class="md-fab md-mini md-accent" ng-click="zoomIn()" style="margin-left:0;">
    <md-tooltip md-direction="right">zoom in</md-tooltip>
    <md-icon>add_circle_outline</md-icon>
  </md-button>
  <md-button class="md-fab md-mini md-accent" ng-click="zoomOut()" style="margin-left:0;">
    <md-tooltip md-direction="right">zoom out</md-tooltip>
    <md-icon>remove_circle_outline</md-icon>
  </md-button>

</div>
